.main {
    margin: 20px auto;
    margin-left: 20px;
  }

input, select {
    border: 3;
    background-color: white;
    padding: 5px;
    line-height: 30px;
    font-size: 16px;
    width: 300px;
  }

  .g-signin2 {
    margin-left : 570px;
  }
  
  .well {
    text-align : center;
     margin-right : 20%;
    margin-left : 20%;
  }
  